# Python
venv/
__pycache__/
*.pyc

# Secrets
k8s/kubeconfig-sirius.yaml
pg-root-cert.yaml
postgres-secret.yaml
root.crt
secrets.yaml
yc-sirius/edu-andrey-bychenkov/django-secrets.yaml
k8s/django-secrets.yaml
.env

# Editor specific
.cursorrules
.idea/
.vscode/