apiVersion: v1
kind: Secret
metadata:
  name: <your-db-secret>
  namespace: <your-namespace>
type: Opaque
data:
  host: <base64-encoded-db-host>
  port: <base64-encoded-db-port>
  name: <base64-encoded-db-name>
  username: <base64-encoded-db-user>
  password: <base64-encoded-db-password>
  dsn: <base64-encoded-dsn> 