apiVersion: v1
kind: Secret
metadata:
  name: django-secrets
type: Opaque
stringData:
  SECRET_KEY: "<your-django-secret-key>"
  DATABASE_URL: "postgres://test_k8s:<your-db-password>@postgres-postgresql.default.svc.cluster.local:5432/test_k8s"
  DEBUG: "False"
  ALLOWED_HOSTS: "*"
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
stringData:
  POSTGRES_DB: test_k8s
  POSTGRES_USER: test_k8s
  POSTGRES_PASSWORD: "<your-db-password>" 