replicaCount: 1

image:
  repository: postgres
  tag: "12.0-alpine"
  pullPolicy: IfNotPresent

auth:
  password: <your-db-password>

service:
  name: postgres-postgresql
  type: ClusterIP
  port: 5432

storage:
  size: 1Gi

resources:
  requests:
    cpu: "250m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi" 