apiVersion: v1
kind: Secret
metadata:
  name: django-secrets
  namespace: edu-andrey-bychenkov
type: Opaque
stringData:
  SECRET_KEY: "<PUT_YOUR_DJANGO_SECRET_KEY_HERE>"
  DATABASE_URL: "<PUT_YOUR_DATABASE_URL_HERE>"
  DEBUG: "False"
  ALLOWED_HOSTS: "*" 